
<nav class="navbar navbar-light">
    <h1>Frameworks</h1>
    <app-searchbar></app-searchbar>
</nav>
<div class="container">
    <div class="row justify-content-md-center">

        <div class="col-lg-4 col-md-4 col-sm-4 mb-4">        
            <a (click)="goTo('angular')"><img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" class="img-fluid"></a>
    
            <a (click)="goTo('react')"><img src="https://cdn.worldvectorlogo.com/logos/react.svg" class="img-fluid"></a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
            <a (click)="goTo('node.js')"><img src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" class="img-fluid"></a>
    
            <a (click)="goTo('mysql')"><img src="https://cdn.worldvectorlogo.com/logos/mysql.svg" class="img-fluid"></a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
            <a (click)="goTo('.net')"><img src="https://cdn.worldvectorlogo.com/logos/microsoft-net.svg" class="img-fluid"></a>
    
            <a (click)="goTo('java')"><img src="https://cdn.worldvectorlogo.com/logos/java-14.svg" class="img-fluid"></a>
        </div>

    </div>
    
</div>


