
<nav class="navbar navbar-light">
    <h1>Frameworks</h1>
    <app-searchbar></app-searchbar>
</nav>
<div class="container">
    <div class="row ">

        
        <div class="anchor  col-lg-4 col-md-4 col-sm-4 mb-4">        
            <a (click)="goTo('angular')" ><img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" class="img-fluid"></a>
        </div>
        <div class="anchor  col-lg-4 col-md-4 col-sm-4 mb-4"> 
            <a (click)="goTo('react')"><img src="https://cdn.worldvectorlogo.com/logos/react.svg" class="img-fluid"></a>
        </div>
        
        
        <div class="anchor col-lg-4 col-md-4 col-sm-4 mb-4"> 
            <a (click)="goTo('node.js')"><img src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" class="img-fluid"></a>
        </div>
        <div class="anchor  col-lg-4 col-md-4 col-sm-4 mb-4"> 
            <a (click)="goTo('mysql')"><img src="https://cdn.worldvectorlogo.com/logos/mysql.svg" class="img-fluid"></a>
        </div>
       

        
        <div class="anchor  col-lg-4 col-md-4 col-sm-4 mb-4"> 
            <a (click)="goTo('.net')"><img src="https://seeklogo.com/images/1/net-logo-681E247422-seeklogo.com.png" class="img-fluid"></a>
            
        </div>
        <div class="anchor  col-lg-4 col-md-4 col-sm-4 mb-4"> 
            <a (click)="goTo('java')"><img src="https://images.vexels.com/media/users/3/166400/isolated/preview/abd31187d4de29e46ac3d01f2bf872d5-java-programming-language-flat-by-vexels.png" class="img-fluid"></a>
            
        </div>
        

    </div>
    
</div>


